nav {
    width: 45%;
}
div#col-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header-map {
    width: 100%;
    height: 30%;
}

#col-2 > main {
    width: 100%;
    height: 70%;
}

#col-2 > header > #btn-menu {
    display: none;
}