nav {
    position: fixed;
    width: 300px;
    transform: translate(-350px, 0);
}

div#col-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#col-2 > header {
    width: 100%;
    height: 10%;
}

#col-2 > main {
    width: 100%;
    height: 90%;
}
